*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

#square{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transition: transform 0.5s ease;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: cyan;
    color: black;
}