*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    transition: width 0.5s, height 0.5s ease;
}